<div class="background_index">
    <div class="title">
        <h1 class="d-flex justify-content-center align-items-center">PUF</h1>
        <p class="d-flex justify-content-center align-items-center">"PALOMA URBAN FASHION"</p>
    </div>
    <div class="d-flex justify-content-center align-items-center box_cards">
        <div class="card ">
            <div class="contenedor-imagen">
                <img src="../../assets/img/initial-front-page/woman_front.jpg" alt="Card image" class="image">
                <div class="texto-superpuesto">
                    <span class="fashionable">Go fashionable</span><br>
                    <span class="gender">WOMAN</span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="contenedor-imagen">
                <img src="../../assets/img/initial-front-page/man_front.jpg" alt="Card image" class="image">
                <div class="texto-superpuesto">
                    <span class="fashionable">Go fashionable</span><br>
                    <span class="gender">MAN</span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="contenedor-imagen">
                <img src="../../assets/img/initial-front-page/teen_front_2.jpg" alt="Card image" class="image">
                <div class="texto-superpuesto">
                    <span class="fashionable">Go fashionable</span><br>
                    <span class="gender">TEEN</span>
                </div>
            </div>
        </div>
    </div>
</div>
